body {
	background-color: rgb(185, 175, 175);
	margin: 0;
	.contenedor-tarjetas {
		display: flex;
		flex-wrap: wrap;
	}
	.contenedor-vacio {
		&::after {
			content: 'no hay resultados disponibles';
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			color: darkblue;
		}
	}
}
